@charset "utf-8";

/* ===========================================
共通設定
============================================ */
html {
    font-size: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    /* overflow-wrap: break-word; */
    word-break: break-word;
    /* word-break: break-all; */
    font-weight: 400;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

img {
    width: 100%;
    vertical-align: bottom;
}

section {
    background-color: #fff;
    padding: 5vw 3vw;
}

h2 {
    font-size: 10vw;
}

@media(min-width:769px) {
    h2 {
        font-size: 80px;
    }
}

/* ===========================================
ナビゲーションのためのCSS 
============================================ */
#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top: -120%;
    right: 0;
	width: 100%;
    height: 100vh;
	background:#fff;
    /*動き*/
	transition: all 0.6s;
}

@media(min-width:769px) {
    #g-nav {
        top: 0;
        right: -120%;
        width: 40%;
    }
}

/*アクティブになったエリア*/
#g-nav.panelactive{
    top: 0;
}

@media(min-width:769px) {
    #g-nav.panelactive{
        right: 0;
    }
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: relative;
    z-index: 999; 
	width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
    display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
    opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
    animation-name:gnaviAnime;
    animation-duration:1s;
    animation-delay:.2s; /* 0.2秒遅れて */
    animation-fill-mode:forwards;
    opacity:0;
}
@keyframes gnaviAnime{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*リストのレイアウト設定*/
#g-nav li{
    text-align: center; 
    list-style: none;
}

#g-nav li a{
    color: #333;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 25px;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
    position: sticky;
    z-index: 9999;/*ボタンを最前面に*/
    cursor: pointer;
    width: 50px;
    height:50px;
    margin-right: 0px;
    margin-left: auto;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 5px;
    height: 3px;
    background-color: #333;
    width: 80%;
}

.openbtn span:nth-of-type(1) {
    top:15px;
}

.openbtn span:nth-of-type(2) {
    top:23px;
}

.openbtn span:nth-of-type(3) {
    top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 80%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 80%;
}

/* ===========================================
パララックス
============================================ */
.parallax {
    width: 100%; /* 背景画像の横幅 */
    height: 400px; /* //背景画像の高さ */
    position: sticky;/* //背景画像を固定 */
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg1 {
    background-image: url(../iamges/zakka3.png);
    z-index: -1;
    background-position: left;
}

.bg2 {
    background-image: url(../iamges/bg22.jpg);
    z-index: -1;
}

.bg3 {
    background-image: url(../iamges/bg3.jpg);
    z-index: -1;
}

.bg4 {
    background-image: url(../iamges/bg5.jpg);
    width: 100%; /* 背景画像の横幅 */
    height: 380px; /* //背景画像の高さ */
    background-size: cover;
    z-index: 1;
    background-position: right bottom;
}

@media(min-width:769px) {
    .parallax {
        height: 80vh;
    }

    .bg4 {
        height: 550px;
    }
}

/* ===========================================
Header
============================================ */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3vw;
    z-index: 2;
}

@media(min-width:769px) {
    .on {
        display: none;
        transition: all .5s;
    }
    
    .on {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000 ;
        opacity: .8;
        z-index: 10;
        cursor: pointer;
    }
}

/*== ボタン共通設定 */
.title {
    font-size: 32px;
    font-weight: 700;
}

.title__btn {
    width: 100%;
}

/*ボタン内側の設定*/
.title__btn span {
    display: block;
    position: absolute;
    width: 210px;
    height: auto;
    border-bottom: 1px solid #333;
    /* 重なりを3Dで表示 */
    transform-style: preserve-3d;
    /* アニメーションの設定 数字が少なくなるほど早く回転 */
    transition: 0.5s;
}

/*================== くるっと回転（奥に） ================*/

/* 回転前 */
.title__link span:nth-child(1) {
    color: #333;
    transform: rotateX(0deg);/*はじめは回転なし*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.title__link:hover span:nth-child(1) {
    transform: rotateX(90deg);/* X軸に90度回転 */
}

/* 回転後 */
.title__link span:nth-child(2) {
    transform: rotateX(-90deg);/*はじめはX軸に-90度回転*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.title__link:hover span:nth-child(2) {
    transform: rotateX(0deg);/* X軸に0度回転 */
}

.title__link:hover {
    opacity: 100;
}

/* ===========================================
Main
============================================ */
main {
    padding: 3vw 0;
}

/* ===========================================
mainvisual
============================================ */
.mainvisual {
    margin-block: 30vh;
}

.mainvisual__box {
    padding: 7vw 0;
    display: grid;
    gap: 8vw;
}

.mainvisual__name {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0 3vw;
}

.mainvisual__item {
    width: 60%;
    margin: auto;
    font-weight: 700;
    padding: 0 3vw;
}

.mainvisual__item2 {
    width: 60%;
    padding: 0 3vw;
    text-align: center;
    font-weight: 700;
    margin: auto;
}

@media(min-width:769px) {
    .mainvisual {
        margin-block: 15vh;
    }

    .mainvisual__box {
        gap: 5vw;
    }
    
    .mainvisual__name {
        width: 80%;
    }

    .mainvisual__item,
    .mainvisual__item2 {
        width: 46%;
    }
}




/* ===========================================
About
============================================ */
.about__imgBox {
    padding: 8vw;
    text-align: center;
}

.about__img {
    max-width: 450px;
}

.atout__dl {
    padding: 2vw 5vw;
    font-size: 1.25rem;
    border-bottom: 1px solid #333;
}

.about__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1vw;
}

.atout__dl div dt {
    font-size: 1.17em;
    font-weight: 500;
    width: 4.375rem;
}

.atout__dl div dd {
    width: 20rem;
}

.about__text {
    padding: 2vw 5vw;
    line-height: 2;
    font-size: 1.125rem;
}

.about__flex {
    padding: 5vw 0;
}

@media(min-width:769px) {
    .about__flex {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px,1fr));
        gap: 3vw;
    }
    .about__imgBox {
        padding: 0;
    }

    .about__me {
        max-height: 792px;
        margin: auto 0;
    }
}


/* ===========================================
Works
============================================ */
.works__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 8vw;
    padding: 8vw;
}

.works__img {
    height: auto;
    transition: transform .3s ease; /* ゆっくり変化させる */
}

.works__img:hover {
    transform: scale(.95,.95); /* 縮小 */
}

.works__category {
    color: #727272;
    font-size: .875rem;
}

/* ===========================================
Skill
============================================ */
.skill {
    background-color: #fff;
}

.skill__copy {
    font-size: 3rem;
    font-weight: bold;
}

.skill__box {
    padding: 5vw;
}

.skill__box p:nth-child(2) {
    margin-bottom: 1rem;
    font-family: "input-serif-compressed", serif;
    font-weight: 200;
    font-style: normal;

}

.skill__dl {
    display: grid;
    gap: 13vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 5vw;
}

.skill__type dt {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}

.skill__dl dd {
    line-height: 2;
}

@media(min-width:769px) {
    .skill__dl {
        gap: 5vw;
    }

    .skill__copy {
        font-size: 3.2rem;
    }
}

/* ===========================================
Contact
============================================ */
.contact {
    height: 100vh;
}

.contact__mailBox {
    display: block;
    padding: 8vw;
}

.contact__message {
    font-size: 1.375rem;
}

.contact__mail {
    font-size: 1.375rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}

@media(min-width:769px) {
    .contact {
        height: 100vh;
    }

    .contact__mail {
        color: #333;
        font-size: min(5vw, 8.0rem);
        text-shadow: 5px 5px 5px #727272;
        transition: 0.3s;
        display: inline-block;
    }

    .contact__mail:hover {
        opacity: 1;
        color: #333;
        text-shadow: 0 0 0 #727272;
        transform: translateY(5px);
        transform: translatex(5px);
    }
}



/* ===========================================
Footer
============================================ */
footer {
    padding: 3vw 3vw 8vw 3vw;
    text-align: center;
    font-family: "input-serif-compressed", serif;
}
